<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>LitElement: explorando la librería | Section 5</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
  </head>
  <body>
    <section class="hero is-link">
      <div class="hero-body">
        <h1 class="title is-1">LitElement: explorando la librería</h1>
        <p class="subtitle">
          <a
            href="https://www.udemy.com/course/litelement-explorando-la-libreria/"
            >Section 5</a
          >
        </p>
      </div>
    </section>

    <main class="container is-max-widescreen">
      <!-- Button -->
      <section class="section">
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <article class="tile is-child box has-background-success-light">
              <h1 class="title is-2">Button</h1>
              <button-component></button-component>
            </article>
          </div>
        </div>

        <script type="module" src="./src/button.js"></script>
      </section>

      <!-- Card -->
      <section class="section">
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <h1 class="title is-2">Card</h1>
              <card-component></card-component>
            </article>
          </div>
        </div>

        <script type="module" src="./src/card.js"></script>
      </section>

      <!-- Divider -->
      <section class="section">
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <article class="tile is-child box has-background-success-light">
              <h1 class="title is-2">Divider</h1>
              <divider-component></divider-component>
            </article>
          </div>
        </div>

        <script type="module" src="./src/divider.js"></script>
      </section>

      <!-- Icon -->
      <section class="section">
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <h1 class="title is-2">Icon</h1>
              <icon-component></icon-component>
            </article>
          </div>
        </div>

        <script type="module" src="./src/icon.js"></script>
      </section>

      <!-- Table -->
      <section class="section">
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <article class="tile is-child box has-background-success-light">
              <h1 class="title is-2">Table</h1>
              <table-component></table-component>
            </article>
          </div>
        </div>

        <script type="module" src="./src/table.js"></script>
      </section>

      <!-- Select -->
      <section class="section">
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <h1 class="title is-2">Select</h1>
              <select-component></select-component>
            </article>
          </div>
        </div>

        <script type="module" src="./src/select.js"></script>
      </section>

      <!-- Input -->
      <section class="section">
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <article class="tile is-child box has-background-success-light">
              <h1 class="title is-2">Input</h1>
              <input-component></input-component>
            </article>
          </div>
        </div>

        <script type="module" src="./src/input.js"></script>
      </section>
    </main>
  </body>
</html>
