<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>LitElement: explorando la librería | Section 5</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <script type="module" src="./src/button.js"></script>
  </head>
  <body>
    <section class="hero is-link">
      <div class="hero-body">
        <h1 class="title is-1">LitElement: explorando la librería</h1>
        <p class="subtitle">
          <a
            href="https://www.udemy.com/course/litelement-explorando-la-libreria/"
            >Section 5</a
          >
        </p>
      </div>
    </section>

    <main class="container is-max-widescreen">
      <section class="section">
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <h1 class="title is-2">Button</h1>
              <button-component></button-component>
            </article>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
